@model OficioMVC.Models.Siga_profs

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Siga_profs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user_pass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_pass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user_nicename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_nicename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dpto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dpto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
