@model OficioMVC.Models.Siga_profs
@{
    ViewData["Title"] = "Verify";
}

<h2>Verify</h2>

<div>
    <h4>Siga_profs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user_pass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_pass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user_nicename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_nicename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dpto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dpto)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
