@model OficioMVC.Models.Documento

@{
    ViewData["Title"] = "Deletar";
}
<link rel="stylesheet" type="text/css" href="~/css/Documentos/delete.css">
<div class="col-md-8 offset-md-2">
    <h1 class="col-md-8 offset-md-3">Deletar Documento</h1>
  <hr class="my-5">

  <!-- form user info -->
  <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0">Documento - @Html.DisplayFor(model => model.Numeracao)/ @Html.DisplayFor(model => model.Ano) - Status: @Html.DisplayFor(model => model.Status)</h3>
      </div>
      <div class="card-body">
<div class="row">
    <div class="col-md-12">
      
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"><h5>Assunto</h5></label>
                <div class="col-lg-9">   
                    <input class="form-control" disabled  type="text" required value = "@Html.DisplayFor(model => model.Assunto)" id="input-assunto">                 
                    
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"><h5>Observações:</h5> </label>
                  <div class="col-lg-9">
                    <textarea disabled  class="form-control" id="input-obs" rows="5" cols="33">@Html.DisplayFor(model => model.Observacoes)
                    </textarea>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"><h5>Tipo: </h5></label>
                  <div class="col-lg-9">  
                       <select  class="form-control" disabled>
                        <option value="0">    @Html.DisplayFor(model => model.Tipo) </option>
                    </select>      
                </div>
            </div>
            <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"><h5>Datas: </h5></label>
                  <div class="col-lg-9">  
                       Data Cadastro
                    <p>@Html.DisplayFor(model => model.DataEnvio) </p>
                    Data Alteração
                    <p>@Html.DisplayFor(model => model.DataAlteracao)</p>
                </div>
            </div>
             
            
             <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"><h5>Arquivo:</h5> </label>
                  <div class="col-lg-9">  
                       
                         <p>
                     
                     @Html.ActionLink("Download", "Download", new { Model.CaminhoArq})
                        </p>    
                </div>
            </div>
            
                
            

         
      </div>
  </div>
<div>
   
       <div class="row">
         <form asp-action="Delete" class="pr-2">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
         </form>
        <form asp-asp-action="Index">
        <button type="submit" asp-action="Index" class="btn btn-secondary">Voltar</button >
    </form>
    </div>  

</div>

    </div>
</div>

</div>



</div>
