@model OficioMVC.Models.Documento

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" type="text/css" href="~/css/Documentos/delete.css">
<div class="container-fluid" id="delteContent">
    <div class="offset-md-5 align-content-center mb-3 mt-3">
        <h3>Deletar Documento</h3>
    </div>
    <div class="offset-md-2 d-flex flex-row bd-highlight ">
        <div class="pr-3 pl-3">
            <b>Númeração: </b>
            <p>
            @Html.DisplayFor(model => model.Numeracao)  / @Html.DisplayFor(model => model.Ano)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>@Html.DisplayNameFor(model => model.Tipo) :</b> 
            <p>
            @Html.DisplayFor(model => model.Tipo)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Arquivo :</b> 
            <p>
                @Html.DisplayFor(model => model.CaminhoArq)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Data Cadastro :</b> 
            <p>
                @Html.DisplayFor(model => model.DataEnvio)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Data Alteração :</b> 
            <p>
                @Html.DisplayFor(model => model.DataAlteracao)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Usuario Cadastro :</b> 
            <p>
                 @Html.DisplayFor(model => model.Usuario.user_login)
            </p>
        </div>
    </div>
    <div class="offset-md-2 d-flex flex-row bd-highlight">
         <p id="Title">
            @Html.DisplayNameFor(model => model.Assunto) :
        </p>     
    </div>
     <div class="offset-md-2 d-flex flex-row bd-highlight  pl-3">
            @Html.DisplayFor(model => model.Assunto)
        </div >
     <div class="offset-md-2 d-flex flex-row bd-highlight ">
         <p id="Title">
            Observações :
        </p>
    </div>
        <div class="offset-md-2 col-md-8 d-flex flex-row bd-highlight  pl-3">
            @Html.DisplayFor(model => model.Observacoes)
        </div>
    
        
  <div class="offset-md-2 ">       
     <div class="row">
         <form asp-action="Delete" class="pr-2">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
         </form>
        <form asp-asp-action="Index">
        <button type="submit" asp-action="Index" class="btn btn-secondary">Voltar</button >
    </form>
    </div>  


</div>
