@model OficioMVC.Models.Documento

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="~/css/Documentos/delete.css">
<div class="container-fluid" id="delteContent">
    <div class="offset-md-5 align-content-center mb-3 mt-3">
        <h3>Deletar Documento</h3>
    </div>
    <div class="offset-md-2 d-flex flex-row bd-highlight ">
        <div class="pr-3 pl-3">
            <b>Númeração: </b>
            <p>
            @Html.DisplayFor(model => model.Numeracao)  / @Html.DisplayFor(model => model.Ano)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>@Html.DisplayNameFor(model => model.Tipo) :</b> 
            <p>
            @Html.DisplayFor(model => model.Tipo)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Arquivo :</b> 
            <p>
                
                Download:
                @Html.ActionLink("Documentos", "Download", new { Model.CaminhoArq})
         
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Data Cadastro :</b> 
            <p>
                @Html.DisplayFor(model => model.DataEnvio)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Data Alteração :</b> 
            <p>
                @Html.DisplayFor(model => model.DataAlteracao)
            </p>
        </div>
        <div class="pr-3 pl-3">
            <b>Usuario Cadastro :</b> 
            <p>
                 @Html.DisplayFor(model => model.Usuario.user_login)
            </p>
        </div>
    </div>
    <div class="offset-md-2 d-flex flex-row bd-highlight">
         <p id="Title">
            @Html.DisplayNameFor(model => model.Assunto) :
        </p>     
    </div>
     <div class="offset-md-2 d-flex flex-row bd-highlight  pl-3">
            @Html.DisplayFor(model => model.Assunto)
        </div >
     <div class="offset-md-2 d-flex flex-row bd-highlight ">
         <p id="Title">
            Observações :
        </p>
    </div>
        <div class="offset-md-2 col-md-8 d-flex flex-row bd-highlight  pl-3">
            @Html.DisplayFor(model => model.Observacoes)
        </div>
    



  <div class="offset-md-2 ">       
     <div class="row">
        <a asp-action="Edit" class="btn btn-success mr-2"asp-route-id="@Model.Id">Edit</a> 
        <form asp-asp-action="Index">
        <button type="submit" asp-action="Index" class="btn btn-secondary">Voltar</button >
    </form>
    </div>        
        </div>
</div>
           

            
       


@{
    if(ViewBag.alterado)
    {
        @section Scripts
        {
            <script src="~/js/ModalScript/Modal.js"></script>
            <script>
                 let modal = document.getElementById('myModalSucess');
                 abrirModal(modal);
            </script>   
        }
    }
}

<!-- Modal HTML Sucesso -->
<div id="myModalSucess" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sucesso </h4>
            </div>
            <div class="modal-body">
                <p>Tarefas realizadas com sucesso. </p>
                <p class="text-warning"><small>Formulário enviado com sucesso</small></p>
                <div Id="Resposta">
                    Documento enviado númeração:
                     @Html.DisplayFor(model => model.Numeracao)
                    /@Html.DisplayFor(model => model.Ano)
                </div>
                <div Id="Usuario">
                    Usuario de envio: 
                    @Html.DisplayFor(model => model.Usuario.user_login)
                </div>
            </div>
            <div class="modal-footer">
                <a type="submit" id="btnCreate" class="btn btn-default" ><button class='btn btn-danger'onClick="fecharModal(modal)">Fechar</button></a>
            </div>
        </div>
    </div>

        }

    }
}
