
@{
    ViewData["Title"] = "SubstituirArquivo";
}



@model OficioMVC.Models.Documento

@{
    ViewData["Title"] = "Delete";
}

    <h2>Trocar Arquivo</h2>

<h3>Deseja alterar o arquivo deste documento?</h3>
<div>
    <h4>Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numeracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numeracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaminhoArq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaminhoArq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.user_login)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="SubstituirArquivo" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
